cas_settings = {
        'uri': 'https://sso-server.example.com/',
        'server_name': 'foo.bar',
        'client_key': 'the-key' ,
        'client_secret': '12345',
        'dbpath': '/path/to/data/clients.json',
        'url_prefix': '/oauth'
}
